@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);


.bg-zaboo-custom{
    background: linear-gradient(90deg, #F9A624 70% ,#FB747C 100%);
    opacity: 1;
}

.bg-zaboo-custom1{
    background: linear-gradient(#F9A624 70%, #FB747C 100%);
    opacity: 1;
}

.icon-user{
  color: #b3b3b3 !important;
}

th{
  border: solid 1px red;
}

@media (max-width: 770px) {
  .background-body-container{
    background-color: #EFEEEE;
    margin-left: 0%;
   
  }
  .list-group{
    margin-top: 0px;
  }

  #sidebar-wrapper .sidebar-heading {
    padding: 0px;
    font-size: 1.2rem;
    
    
  }

  .avatar {
    background: rgba(0, 0, 0, 0.01);
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: center;
  }


  

  .list-group-item{
    font-size: medium;
    margin: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 3px;

    
}

.image{
  /*  */
    width: 90px !important;
    height: 90px !important;
    border-radius: 50%;
    border:white 3px solid;
    margin: auto;
    
    
  }
  

}

.panel{
  border-radius: 23px !important;
  border-width: 1px !important;
  border-style: solid !important;
  border-color: rgba(202, 202, 202, 0.9) !important;
  width: 100%;  /*Tested and working as expected: */
  
  float: none;
  background-color: white;
}


.logo{
    opacity: 1;
}

.divUserName{
  max-width: 180px !important;
}



.h4{
    color: white !important;
}

.navbar{
    z-index: 6;
}
body {
  overflow-x: hidden;
  font-family: 'Spartan', sans-serif;
  background-color: #EFEEEE;
  }




.circulo-usuario{
  background-color: transparent;
  border-color: transparent;
}

.table{
  font-family: 'Spartan', sans-serif;
font-size: smaller;
background-color: white;
border-radius: 23px !important;
border-width: 1px !important;
border-color: rgba(202, 202, 202, 0.9) !important;
float: none;
width: 100%;  /*Tested and working as expected: */
overflow-x: hidden;
}

tr.TablaPedidosHeader{
  border: none !important;
}
th.fecha-corner{
  border: none !important;
}
/* top-left border-radius */
table  th:first-child {
  border-top-left-radius: 23px;
}

/* top-right border-radius */
table tr:first-child th:last-child {
  border-top-right-radius: 23px;
}



.TablaPedidosBody{
  border-collapse: collapse;
}

.TablaPedidosBody, th, td {
  border: 1px solid #b3b3b3;
  font-weight: normal;
}

/* tr:nth-child(even) {background-color: #f2f2f2;} */

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
  position: fixed;
  overflow-x: hidden;
  z-index: 5;
  margin-top: 80px;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}


@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }

  .background-body-container{
    background-color: #EFEEEE;
    margin-left: 220px;
  }
}

#logoImagen{
  display: none;
}

card-body{
  border-radius: 23px !important;
}





